<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Some articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of (articles | async)">
    <ion-card-header>
      <ion-item>
        <ion-card-title>
          {{ article.articleheadline }}
          <!-- <img [src]="information.Poster" class="info-img"> -->
        </ion-card-title>
      </ion-item>
      <ion-card-subtitle>{{ article.articlesubheadline }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content [innerHTML]="article.articletext"></ion-card-content>
    <ion-card-content style="text-align: right;">
      {{ article.articledate }}
      <br>
      <ion-chip *ngFor="let tag of article.articlekeywords" color="primary">
        <ion-label>{{ tag }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>