<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Some articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let article of (articles | async)">
        <ion-card-header>
          <ion-card-subtitle>Subtitle</ion-card-subtitle>
          <ion-card-title>
            Header
            <!-- <img [src]="information.Poster" class="info-img"> -->
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ article.Artikeltext }}</ion-card-content>
      </ion-card>
</ion-content>