<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>latest warnings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(warnings | async); else nowarnings">
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="warningType" (ionChange)="selectedCategory($event)">
      <ion-select-option value="Gefahrenmeldung">Gefahreninformationen</ion-select-option>
      <ion-select-option value="Flut">Hochwassermeldungen</ion-select-option>
      <ion-select-option value="Unwetter">Unwettermeldungen</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let warning of warningdata">
    <ion-card-header>
      <ion-item>
        <ion-icon slot="start" *ngIf="warning.type == 'Gefahreninformation'" name="alert"></ion-icon>
        <ion-icon slot="start" *ngIf="warning.type == 'Hochwasserinformation'" name="water"></ion-icon>
        <ion-icon slot="start" *ngIf="warning.type == 'DAUERREGEN'" name="thunderstorm"></ion-icon>
        <ion-card-title>{{ warning.headline }}</ion-card-title>
      </ion-item>
      <ion-card-subtitle>{{ warning.type }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content [innerHTML]="warning.warninghtml"></ion-card-content>
    <ion-card-content style="text-align: right;">
      Datum: {{ warning.date | date: 'dd.MM.y' }}
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #nowarnings>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hurra! :-)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es liegen aktuell keine Gefahrenmeldungen vor!
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-template>