<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>latest warnings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(warnings | async); else nowarnings">
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="warningType" (ionChange)="selectedCategory($event)">
      <ion-select-option value="Gefahrenmeldung">Gefahreninformationen</ion-select-option>
      <ion-select-option value="Flut">Hochwassermeldungen</ion-select-option>
      <ion-select-option value="Unwetter">Unwettermeldungen</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let warning of warningdata">
    <ion-card-header>
      <ion-item>
        <ion-card-title>{{ warning.headline }}</ion-card-title>
        <ion-icon slot="end" *ngIf="warning.type == 'Gefahreninformation'" name="alert"></ion-icon>
        <ion-icon slot="end" *ngIf="warning.type == 'Hochwasserinformation'" name="water"></ion-icon>
        <ion-icon slot="end" *ngIf="warning.type == 'DAUERREGEN'" name="thunderstorm"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" slot="start">
        <ion-label slot="start">Betroffene Region(en):</ion-label>
        <ion-label text-wrap>{{ warning.regions }}</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>{{ warning.type }}:</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-item lines="none">
      <ion-card-content color="secondary" [innerHTML]="warning.warninghtml">
      </ion-card-content>
    </ion-item>
    <ion-card-content *ngIf="warning.source">
      <ion-item lines="none" slot="start">
        <ion-label slot="start">Quelle: </ion-label>
        <ion-label text-wrap>{{ warning.source }}</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-card-content *ngIf="warning.moreinfosHtml">
      <ion-item lines="none" slot="start">
        <ion-label slot="start">Weitere Informationen unter: </ion-label>
        <div [innerHTML]="warning.moreinfosHtml"></div>
      </ion-item>
    </ion-card-content>
    <ion-card-content style="text-align: right;">
      Datum: {{ warning.date | date: 'dd.MM.y' }}
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #nowarnings>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hurra! :-)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es liegen aktuell keine Gefahrenmeldungen vor!
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-template>